<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 갤러리 권한 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 네트워크 상태 접근 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 갤러리 권한 -->
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        android:minSdkVersion="33" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" /> <!-- 저장소 사용 권한 설정 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:name=".di.GaramgaebiApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/gb_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Garamgaebi2"
        tools:targetApi="33">
        <activity
            android:name=".views.communityProfile.ManageMemberActivity"
            android:exported="false" />
        <activity
            android:name=".views.write.WriteNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".views.write.WriteAnswerPostActivity"
            android:exported="false" />
        <activity
            android:name=".views.communityProfile.CommunityProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".views.write.WritePostActivity"
            android:exported="false" />
        <activity
            android:name=".views.thread.ThreadActivity"
            android:exported="false" />
        <activity
            android:name=".views.mainFeed.MainFeedActivity"
            android:exported="true" />
        <activity
            android:name=".views.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".views.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".views.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".views.communityProfile.CommunityProfileActivity"
            android:exported="false"/>
        <activity
            android:name=".views.userProfile.UserProfileEditActivity"
            android:exported="false"/>
        <activity
            android:name=".views.mainFeed.AllCommunityListActivity"
            android:exported="false"/>
        <activity
            android:name=".views.mainFeed.MyCommunityListActivity"
            android:exported="false"/>
        <activity
            android:name=".views.mainFeed.CommunityProfileMakeActivity"
            android:exported="false"/>
        <activity
            android:name=".views.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>